.button {
    width: 150px;
    height: 50px;
    background-color: #131313;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    position: relative;

    transition: background-color 0.3s, color 0.3s, top 0.3s ease-in;
    &:hover {
        background-color: #4e4d4d;
        top: 1px;
    }
    &:active {
        background-color: #000;
        top: 2px;
    }
  }